<div class="contenido">
  <div class="slider">

    <ion-list lines="none">
      <ion-col class="ion-text-left">
        <ion-card *ngFor="let informacion of info">
          <ion-card-header class="ion-no-padding">
            <img src="{{ informacion.imagen }}">

          </ion-card-header>
        
            <img src="{{informacion.imagePath}}" >
            <p>Producto {{informacion.producto}}</p>
            <p> {{informacion.descripcion}} </p>
            <div>
              <ion-grid>
                <ion-row>
           
              </ion-row>
              <ion-row>
              
              </ion-row>
              </ion-grid>
            
 <ion-footer>
 
</ion-footer>
            </div>
            
        </ion-card>
      </ion-col>
    </ion-list>
  </div>
</div>